@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 122 68% 98%;
		--foreground: 122 72% 3%;
		--muted: 122 11% 95%;
		--muted-foreground: 122 7% 31%;
		--popover: 122 68% 97%;
		--popover-foreground: 122 72% 2%;
		--card: 122 68% 97%;
		--card-foreground: 122 72% 2%;
		--border: 122 15% 92%;
		--input: 122 15% 92%;
		--primary: 122 25% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 122 8% 90%;
		--secondary-foreground: 122 8% 30%;
		--accent: 122 8% 90%;
		--accent-foreground: 122 8% 30%;
		--destructive: 10 86% 27%;
		--destructive-foreground: 10 86% 87%;
		--ring: 122 25% 44%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 122 56% 4%;
		--foreground: 122 18% 97%;
		--muted: 0 11% 5%;
		--muted-foreground: 0 7% 69%;
		--popover: 122 56% 5%;
		--popover-foreground: 122 18% 98%;
		--card: 122 56% 5%;
		--card-foreground: 122 18% 98%;
		--border: 122 15% 11%;
		--input: 122 15% 11%;
		--primary: 122 25% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 8%;
		--secondary-foreground: 0 0% 68%;
		--accent: 0 0% 8%;
		--accent-foreground: 0 0% 68%;
		--destructive: 10 86% 57%;
		--destructive-foreground: 0 0% 100%;
		--ring: 122 25% 44%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
